footer {
  background-color: black;
  color: var(--text-Secondary_Color);
  padding: 20px;
}

.InitialContent {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
